__pycache__
.ipynb_checkpoints
*.egg-info
data/toy/train-set/*
!data/toy/train-set/poses*.npy
data/toy/val-set/*
!data/toy/val-set/poses*.npy
# hpc/*
lightning_logs
chechpoints
wandb
mp-transformer
tmp/*
*.pt
*.out
roadmap.*
./.ch*
